<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Site Manager's Dash board</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        Site Manager's Dash Board
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

    </ion-card-content>
    <ion-button class = "b1" expand="block" (click) = "navCreatePOrder()">Create Purchase Order</ion-button>
    <ion-button class = "b2" expand="block">View Purchase Order</ion-button>
    <ion-button class = "b3" expand="block">View Delivery Details</ion-button>
  </ion-card>

</ion-content>
